.row{
    box-sizing: border-box;
    /* display: flex; */
    align-items: center;
}
.row:hover{
    border-radius: 3px;
    background: #eee;
}
div{
    padding: 5px 0;
}
.completed{
    color: #ddd;
    text-decoration: line-through;
}
.title{
    display: flex;
    width: 30%;
    padding: 0 5px;
}
.price{
    width: 15%;
    padding: 0 5px;
}
.quantity{
    width: 10%;
    padding: 0 5px;
}
.completed .total{
    color: #ddd;
}
.total{
    width: 15%;
    font-weight: bolder;
    color: rgb(3, 161, 3);
    padding: 0 5px;
}

.button-column{
    border: none;
    font-size: 12px;
    color: white;
    padding: 5px;
    width: 40%;
    box-sizing: border-box;
    margin-left: 3px;
    margin-right: 3px;
}
.button-hover-danger:hover{
    background-color: darkred;
}
.button-hover-primary:hover{
    background-color: rgb(12, 13, 112);
}

.input-checkbox{
    margin-right: 10px;
}

@media screen and (max-width: 480px){

    .title{
        min-width: 30%;
    }
    .price,  .total{
        min-width: 15%;
        font-size: 12px;
    }
    .quantity{
        min-width: 5%;
        font-size: 12px;
    }

    .actions{
        width: 20%;
        font-size: 10px;
    }
}