<div class="row" [ngClass]="{'completed': item.completed}">
  
    <div class="title">
        <input type="checkbox" [checked] = "item.completed" (change)="onToggle(item)" class="form-check-input input-checkbox">
        <label for="">{{item.title}}</label>      
    </div>

    <div class="price">
        {{item.price | currency }}
    </div>

    <div class="quantity">
        {{item.quantity}}
    </div>

    <div class="total">
        {{(item.price * item.quantity | currency)}}
    </div>

    <div class="col col-buttons">
        <button (click)="onDelete(item)" class="btn btn-danger button-column button-hover-danger">Eliminar</button>   
        <button (click)="onDelete(item)" class="btn btn-primary button-column button-hover-primary">Crédito</button>   
    </div>   

</div>


 