<div class="main-container">
    <!-- [item]="item" (Pasa la información de entrada al componente app-item) -->
    <!-- (deleteItem)="deleteItem($event)" (Especifica el evento) - $event se traduce en item -->
    <div class="container">
        <div class="row">
          <div class="col-sm">
                <app-mes></app-mes>
          </div>

          <div class="col-sm">
            <app-total [total]="total"></app-total>
          </div>
        
          <div class="col-sm">
            <app-total-credito></app-total-credito>
          </div>
        </div>
      </div>
 
    <app-item 
        *ngFor="let item of items" 
        [item]="item"       
        (deleteItem)="deleteItem($event)"
        (toggleItem)="toggleItem($event)">
    </app-item>
</div>
