<form class="container">
    <div class="form-group">
        <label style="margin-bottom: 5px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" class="label-mes">Mes</label>
        <select class="custom-select custom-select-lg mb-3 form-control">
            <option selected>Ingrese un mes</option>
            <option value="1">Enero - 2021</option>
            <option value="2">Febrero - 2021</option>
            <option value="3">Marzo - 2021</option>
            <option value="1">Enero - 2022</option>
            <option value="2">Febrero - 2022</option>
            <option value="3">Marzo - 2022</option>
          </select>
    </div>
    <button type="button" class="btn btn-primary button-mes button-mes-hover-submit">Buscar</button>
</form>
